@import "./variables.module.scss";
@import "./breakpoints.scss";

.navbar_container{

  display: flex;
  flex-direction: column;

}

.navbar {
  padding: 15px 60px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-height: 90px;
  margin-top: 10px;
  width: 100%;

  @include sm {
    padding: 10px;
  }

  img {
    width: 150px;
    cursor: pointer;
    margin-bottom: -10px;

    @include sm {
      width: 100px;
    }
  }

  &_search {
    border: 1px solid $grey;
    border-radius: 30px;
    height: 40px;
    padding: 0px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
  

    input {
      border: none;
      outline: none;
    }

    &:hover {
      @include shadow;
    }

    @include sm {
      width: 180px;
      

      input {
        font-size: 14px; // Diminui o tamanho da fonte
        width: 100%;
      }

    }
  }

  &_right {
    display: flex;
    align-items: center;
    gap: 20px;

    @include sm {
      gap: 0px;
    }

    .cart {
      margin: 0;
      border: 1px solid $grey;
      padding: 5px 15px;
      border-radius: 10px;
      display: none;
      align-items: center;
      gap: 5px;

      span {
        font-weight: 700;
      }
    }

    &_account {
      display: flex;
      align-items: center;
      border: none;
      display: flex;
      gap: 10px;
      background-color: white;
      cursor: pointer;

      img {
        width: 40px;
      }
    }

    &_accountmenu {
      position: absolute;
      background-color: white;
      right: 60px;
      top: 60px;
      display: flex;
      flex-direction: column;
      width: 200px;
      padding: 10px 0;
      border: 1px solid $lightgrey;
      border-radius: 20px;
      @include shadow;
      z-index: 9999;
      

      @include sm {
        right: 20px;
        right: 10px;
      }

      a {
        padding: 8px 15px;
        text-decoration: none;
        color: black;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          color: $pinkred;
          background-color: rgba(217, 213, 213, 0.2);
        }
      }
    }
  }
}



.navbar_right_account{
  font-size: 20px;
  color: #21565a;

}


.navbar_search{

  @include sm {
    display:none;
  }

}

.navbar_mobile{
  display: none;
 flex-direction: column;


  @include  sm {
    display:flex;
  }

}


.navbar_mobile_ola{

  font-weight: 500;
  padding: 0px 20px;
}

.navbar_mobile_welcome{
  font-weight: 400;
  padding: 5px 20px;
  line-height: 1.2;
}