@import "./variables.module.scss";

.work-card {
  position: relative;
  cursor: pointer;
  padding: 0; // Metade do padding original
  border-radius: 10px;
  max-width: 181px; // Metade do max-width original
  background: rgba(255, 255, 255, 0.42); /* From https://css.glass */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  &:hover {
    @include shadow;
  }

  .slider-container {
    width: 180px; // Metade da largura original
    overflow: hidden;
    border-radius: 10px 10px 0 0 ;
    margin-bottom: 5px; // Metade do espaçamento original

    .slider {
      display: flex;
      transition: transform 0.5s ease;

      .slide {
        position: relative;
        flex: 0 0 100%;
        width: 100%;
        height: 135px; // Metade da altura original
        display: flex;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .prev-button,
        .next-button {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 99;

          
        }

        .prev-button {
          left: 3px; // Metade do valor original
        }

        .next-button {
          right: 3px; // Metade do valor original
        }
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin: 0 4px; // Metade do espaçamento original

    h3 {
      font-size: 12px; // Metade do tamanho da fonte original
      margin-bottom: 5px; // Metade do espaçamento original
      font-weight: 600;
      white-space: nowrap; // Impede a quebra de linha
      overflow: hidden; // Oculta o texto que ultrapassa o limite do elemento
      text-overflow: ellipsis; // Adiciona reticências quando o texto é cortado
      
    }

    .creator {
      display: flex;
      align-items: center;
      gap: 2.5px; // Metade do espaçamento original
      font-size: 6.5px; // Metade do tamanho da fonte original
      
      img {
        width: 20px; // Metade do tamanho original
        height: 20px; // Metade do tamanho original
        border-radius: 50%;
        object-fit: cover;
      }

      .categoria_card {
        
          font-size: 10px; // Metade do tamanho original
          font-weight: 400;
          white-space: nowrap; // Impede a quebra de linha
          overflow: hidden; // Oculta o texto que ultrapassa o limite do elemento
          text-overflow: ellipsis; // Adiciona reticências quando o texto é cortado
          max-width: 130px;
          
        
      }
    }

    .price {
      background: $lightblue;

      padding-inline: 3px; // Metade do padding original
      border-radius: 10px;
      font-weight: 600;
      font-size: 10px; // Metade do tamanho original
      height: 15px; // Metade do tamanho original
      white-space: nowrap; // Impede a quebra de linha
      overflow: hidden; // Oculta o texto que ultrapassa o limite do elemento
      min-width: 40px;
 

    }
  }

  .icon {
    position: absolute;
    right: 5px; // Metade da distância original
    top: 5px; // Metade da distância original
    border: none;
    font-size: 10px; // Metade do tamanho original
    cursor: pointer;
    z-index: 999;


  }
}
